.site-header {
	width: 100%;
	max-width: 100%;
	height: 150px;
	background-color: $color-white;
}

.experimentor_navbar ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	transition: 0.3s;
	padding-top: 60px;
}

.site_logo img {
	width: 150px;
	height: 150px;
	max-width: 100%;
}
.experimentor_navbar ul li a {
	font-size: 18px;
	color: $color-black;
	font-weight: 700;
	text-decoration: none;
	margin-right: 20px;
}

.experimentor_navbar ul li a:hover {
	color: $color-hover;
}

.experimentor_navbar ul .active {
	left: 0;
}

.site_header_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hamburger {
	display: none;
}
@media screen and (max-width: 650px) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.experimentor_navbar ul {
		display: none;
		text-align: center;
		position: absolute;
		flex-direction: column;
		top: 100px;
		left: -100%;
	}
	.site-header {
		height: 80px;
	}
	.site_logo img {
		width: 80px;
		height: 80px;
		max-width: 100%;
	}
	.experimentor_navbar ul li {
		margin-bottom: 20px;
	}
	.experimentor_navbar ul li a {
		margin-right: 0px;
	}
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $color-black;
}
